.card-container{
	padding: 1em;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-shadow: inset 2px 2px 10px 0px rgba(255,255,255,1), 2px 2px 10px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 2px 2px 10px 0px rgba(255,255,255,1), 2px 2px 10px 0px rgba(255,255,255,1);
	box-shadow: inset 2px 2px 10px 0px rgba(255,255,255,1), 2px 2px 10px 0px rgba(255,255,255,1);

	display: flex;
	flex-direction: column;
	border: 1.5px solid $_darkGrey;
}

.card-header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;

	&__title{
		font-size: 1.5em;
		font-weight: 500;
		padding-top: 0.5em;
	}
	&__icon{
		color: $_darkGrey;
	}

}

.card-content{
	text-align: left;
	line-height: 1.3;
	margin-bottom: 1em;
}