.header{
	background: linear-gradient(rgba(0, 74, 117, 0.7), rgba(0, 74, 117, 0.7)), url(../assets/work-desk__dustin-lee.jpg);
	background-position: center;
	background-size: cover;
	filter:contrast(140%);
	padding: 1.5em 3em;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;

	&__logo{
		text-align: left;
		img{
			width: 50px;
		}
	}
	&__jumbotron{
		margin-top: 2em;
		padding: 9em 0px;
		justify-self: center;
		span{
			font-size: 2.5em;
			font-weight: 300;
		}
		h1{
			margin: 0.4em auto;
			font-weight: 600;
		}
		p{
			margin: 0.5em auto;
			font-size: 1.3em;

		}

		.btn-contact{
			border: 1.5px solid $_white;
			margin: 2em;
			padding: 1em 2em;
			display: inline-block;
			box-sizing: border-box;
			font-weight: 550;
			text-transform: uppercase;
			color: $_white;

			&:hover{
				color: $_darkBlue;
				background: $_white;
			}
		}
	}
}

.footer{
	background-color: $_darkPurple;
	color: $_white;
	padding: 3em;
	margin-top: 4em;
}