.highlights{
	padding: 1.8em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__title{
			text-align: center;
			margin: 3em 0px;
		h1{
			font-weight: 400;
			margin: 0.5em 0px;
		}
		p{
			line-height: 1.5;		
			max-width: 580px;
			margin: auto;	
		}
	}

	&__content{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: space-evenly;
		grid-gap: 1.5em;

		@media #{$media-tablet} {
		  grid-template-columns: repeat(2, 1fr);
		}

		@media #{$media-phone} {
		  grid-template-columns: 1fr;
		}
	}
}