.news{
	display: flex;
	flex-direction: column;
	background: rgba(0, 123, 193, 0.9);
	max-width: 640px;
	text-align: left;
	padding: 2em;
	position: relative;
	color: $_white;

	&__title{
		h1{
			margin: 0;
			line-height: normal;
			font-weight: 700;
			font-size: 1.5em;
		}
	}

	&__content{
		line-height: 1.5;
		p{
			margin-top: 0.5em;
		}

		@media #{$media-phone} {
			p{
				margin: 0.5em 0;
			}
		}
	}

	&__footer{
		display: flex;
		input{
			width: 100%;
			height: 35px;
			padding: 0.5em;
		}
		&-btn{
			display: flex;
		  align-items: center;
		  justify-content: center;
			white-space: nowrap;
			background: $_orange;
			margin-left: 1em;
			padding: 0 10px;
			cursor: pointer;
		}

		@media #{$media-phone} {
		  flex-direction: column;
		  align-items: space-between;

		  input{
		  	margin-top: 1em;
		  }

		  &-btn{
		  	margin-left: 0;
		  	margin-top: 1em;
		  	padding: 0.5em; 
		  }
		}
	}

	&__close-btn{
		position: absolute;
		top: 10px;
		right: 15px;
		cursor: pointer;
	}
}