.notification{
	position: -webkit-sticky; /* Safari */
  position: sticky;
  max-height: 300px;
  top: 0;
	background: $_smokeGrey;
	font-size: 0.9em;
	z-index: 10;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);

	&__container{
		max-width: 720px;
		display: flex;
		justify-content: space-between;
		padding: 1em;

		@media #{$media-phone} {
		  flex-direction: column;
		}
	}

	&__text{
		text-align: left;
		line-height: 1.3;
		a{
			color: $_blue;
			text-decoration: none;
			cursor: pointer;
		}
	}

	&__btn{
		background: $_blue;
		color: $_white;
		padding: 0.5em 1em;
		white-space: nowrap;
		border-radius: 3px;
		margin-left: 1em;
		display: flex;
  	align-items: center;
  	justify-content: center;
		p{
			margin: 0 auto;
		}

		@media #{$media-phone} {
		  margin: 0.5em 0 0;
		  width: 80px;
		}
	}
}