* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: $_smokeGrey;
}

.App{
  text-align: center;
}

.container{
  margin: auto;
  max-width: 1366px;
  box-sizing: border-box;
}

.sticky-bottom{
  position: fixed;
	bottom: 0px;
	left: 0;
	z-index: 10;
}


//Ketframes Newsletter Animation
.news-transition-enter {
  bottom: -1200px;
}

.news-transition-enter.news-transition-enter-active {
  bottom: 0;
  transition: bottom 800ms ease-in;
}

.news-transition-leave {
  bottom: 0;
}

.news-transition-leave.news-transition-leave-active {
  bottom: -1200px;
  transition: bottom 300ms ease-in;
}

//Keyframes notification animation
.top-transition-enter {
  transform: translateY(-200px);
  max-height: 0;
}

.top-transition-enter.top-transition-enter-active {
  transform: translateY(0);
  max-height: 300px;
  transition: all .2s;
}

.top-transition-leave {
  transform: translateY(0);
  max-height: 300px;
}

.top-transition-leave.top-transition-leave-active {
  transform: translateY(-200px);
  max-height: 0;
  transition: all .2s;
}