$_blue: #007bc1;
$_darkBlue: #004a75;
$_orange: #FF8000;
$_darkOrange: #cc6600;
$_smokeGrey: #e5e5e5;
$_darkGrey: #AAA8A9;
$_darkPurple: #050328;

$_black: black;
$_white: white;


// $media-desktop: "only screen and (max-width : 992px)";
$media-tablet: "only screen and (max-width : 960px)";
$media-phone: "only screen and (max-width : 480px)";